# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# TensorFlow saved models
backend/saved_models/*.h5
backend/saved_models/*.pkl

# data
backend/data/*.csv

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
